APP_NAME=AutoRunning
DEBUG=True
ENVIRONMENT=dev
APP_PORT=8000

API_PREFIX=/api

# --- Database ---
DB_USER=postgresql
DB_PASSWORD=postgresql
DB_NAME=autorunning
DB_HOST=localhost
DB_PORT=5432

# --- Auth / JWT ---
SECRET_KEY=change-me-openssl-rand-hex-32
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10000000

# --- Storage ---
STORAGE_PATH=./storage

# --- RabbitMQ ---
RABBITMQ_USER=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_VHOST=/
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672

# --- Flower ---
FLOWER_USER=admin
FLOWER_PASSWORD=admin
FLOWER_PORT=5555

# --- Celery ---
CELERY_BACKEND_HOST=localhost
CELERY_BACKEND_PORT=6379
CELERY_BACKEND_NUM=0

# --- Redis ---
REDIS_PORT=6379
